* {
    margin:0;
    padding: 0;
}

body {
    font-family: raleway, sans-serif;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}

body p {
    font-size: 16px;
}


/* Navigation */

header {
    margin-bottom: 63px;
}

header nav img {
    height: 20px;
    margin-top: 44px;
    margin-left: 55px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    padding: 48px 50px 0 0;
}

header nav li {
    list-style-type: none;
    padding-left: 30px;
}


header nav a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 0 20px 0 20px;
}

header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 46px;
}


h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

/* Recherche */

.haut-de-page {
    padding-left: 55px;
}

.recherche {
    display: flex;
}

.barre-recherche {
    display: flex;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 46px;
    width: 440px;
}

.fa-icon, .marseille, .loupe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    border: none;
}

.fa-icon {
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.marseille {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    width: 230px;
    border: 1px solid #D9D9D9;
}

button {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0;
    cursor: pointer;
}

.rechercher {
    font-size: 18px;
    font-weight: bold;
    width: 140px;
}


.loupe i {
    width: 50px;
    font-size: 17px;
    display: none;
}


/* Filtres */

.filtre {
    margin-left: 7px;
    display: flex;
    align-items: center;
}

.filtre h2 {
    font-size: 18px;
    margin-right: 30px;
}

.filtre ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    flex-wrap: wrap;
}


.filtre li {
    display: flex;
    align-items: center;
    height: 46px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    padding: 0 20px 0 20px;
}

.filtre li:hover {
    background-color: #DEEBFF;
}

.fa-filtre {
    margin-right: 10px;
}

.fa-person, .fa-money-bill-wave, .fa-heart, .fa-dog, .fa-info, .fa-star {
    color: #0065FC;
}

.resultat-recherche {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.fa-logo-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    margin-right: 20px;
    width: 24px;
    height: 24px;
}

/* Section */

.section-hebergement {
    display: flex;
    padding: 50px;
    gap: 40px;
}

.section-hebergement h2 {
    font-size: 22px;
    margin-top: 42px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.section-hebergement h3 {
    font-size: 16px;
    padding-bottom: 7px;
}


section p {
    font-size: 14px;
    padding-bottom: 3px;
}

.hebergement {
    width: 70%;
    height: 626px;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.grid-hebergement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 199px 199px 199px;
    padding: 0 40px 0 40px;
    gap: 30px;
    justify-content: center;
}

.grid-hebergement a {
    text-decoration: none;
    color: black;
}

.element {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 5px rgb(170, 170, 170);
}

.element img {
    width: calc(100% - 10px);
    height: 114px;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    object-fit: cover;
}

.description-grid {
    padding-left: 16px;
    white-space: nowrap;
}


.greystar {
    color: #D9D9D9;
}


.afficher-plus {
    font-size: 40px;
    font-weight: bold;
}

#bas-hebergement {
    font-size: 18px;
    font-weight: bold;
}


/* Aside */

aside {
    width: 33%;
    height: 625px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

aside h2 {
    margin-left: 37px;
}

aside h3 {
    padding-bottom: 7px;
}

.entete-populaire {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.entete-populaire i {
    padding-right: 40px;
    padding-top: 25px;
    color: #0065FC;
    font-size: 17px;
}


.grid-populaire {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 144px 144px 144px;
    gap: 33px;
    padding-left: 8%;
    padding-right: 8%;    
}

.grid-populaire a {
    text-decoration: none;
    color: black;
}

.populaire {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    box-shadow: 0 1px 5px rgb(170, 170, 170);
}

.populaire img {
    width: 40%;
    height: 134px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    padding: 5px 15px 5px 5px;
}

.populaire-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 13px;
    padding-top: 16px;
}

.populaire-description p {
    padding-bottom: 0px;
}

.description-grid i, .populaire-description i {
    font-size: 12px;
}

.notes-populaire {
    padding-bottom: 5%;
}

/* Section 2 */

.section2 {
    padding-left: 50px;
    padding-right: 53px;
}

.section2 h2 {
    font-size: 22px;
    margin-bottom: 18px;
}

.activites-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 43px;
}

.activites-grid a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.activites-marseille {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgb(170, 170, 170);
}

.activites-marseille img {
    width: 100%;
    height: 388px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activites-marseille h3 {
    display: block;
    padding: 17px 19px;
    font-size: 16px;
}

.description-activites {
    display: flex;
    align-items: center;
    flex: auto;
}


/* Footer */

footer {
    background-color: #F2F2F2;
    margin: 70px 50px 0 50px;
    padding-bottom: 58px;
}

.element-footer {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 22%;
}

footer h3 {
    font-size: 18px;
    margin: 45px 0 20px 0;
}

footer li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 10px;
}


@media screen and (max-width: 992px) {
    

    body {
        padding: 0 70px 0 70px;
        max-width: 990px;
        width: calc(100% - 140px);
    }

    .haut-de-page {
        padding-left: 0;
        padding-right: 0;
    }

    header nav img {
        margin-left: 0;
    }

    header nav ul, header nav a {
        padding-right: 0;
    }
    
    .filtre h2 {
        margin-right: 20px;
    }

    .filtre ul {
        gap: 10px;
    }

    .section-hebergement {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .hebergement {
        width: 100%;
    }


    aside {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: 278px;
        justify-content: center;
    }

    .grid-populaire h3 {
        font-size: 14px;
    }

    .grid-populaire p {
        font-size: 13px;
    }

    .grid-populaire {
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 4%;
        padding-right: 4%;
    }

    footer {
        margin: 70px 0 0 0;
        padding: 0 0 50px 0;
        width: 100%;
    }

    .element-footer {
        margin-right: 20%;
    }


    .section2 {
        width: 100%;
        padding: 0;
    }


    .activites-marseille img {
        height: 221px;
    }

    .activites-marseille h3 {
        padding: 10px 19px;
    }

}


@media screen and (max-width: 768px) {

    body {
        max-width: 767px;
        width: 100%;
        padding: 0;
    }

    header nav {
        flex-direction: column;
        margin: 0;
    }

    header nav img {
        margin-top: 21px;
        margin-bottom: 48px;
    }

    header nav ul {
        width: 100%;
        padding: 0 0 23px 0;
    }

    header nav li {
        padding: 0;
        width: 50%;
    }

    header nav a {
        display: flex;
        justify-content: center;
        padding-bottom: 21px;
        border-bottom: #D9D9D9 2px solid;
    }

    header nav a:hover {
        padding-bottom: 21px;
        padding-top: 0;
        border-top: none;
        border-bottom: #0065FC 2px solid;
    }

    .haut-de-page {
        margin-left: 20px;
        margin-right: 20px;
    }

    .recherche {
        justify-content: center;
        margin: 0;
    }

    .barre-recherche {
        width: 100%;
        margin: 36px 0 34px 0;
        padding: 0;
    }

    .marseille {
        width: 100%;
    }

    .rechercher {
        display: none;
    }

    .loupe i {
        display: flex;
        justify-content: center;
    }
    

    .section-hebergement {
        flex-direction: column-reverse;
        padding: 0;
    }


    .grid-populaire {
        grid-template-columns: 1fr;
        background-color: #D9D9D9;
        margin: 0 20px 47px 20px;
        padding: 0;
    }


    .populaire-description h3 {
        font-size: 16px;
    }

    .hebergement {
        height: 100%;
        background-color: #F2F2F2;
    }
    

    .grid-hebergement {
        grid-template-columns: 1fr;
        margin: 0 20px 70px 20px;
        padding: 0;
    }
    
    .description-grid {
        margin-bottom: 5px;
    }

    aside {
        height: 100%;
        margin-top: 40px;
        border-radius: 0;
    }

    .section-hebergement {
        gap: 0;
    }

    .section-hebergement h2 {
        margin-top: 30px;
        margin-left: 20px;
    }

    #bas-hebergement {
        display: none;
    }

    .activites {
        margin-top: 65px;
    }

    .activites-grid {
        grid-template-columns: 1fr;
    }


    .activites-grid a img {
        height: 134px;
    }


    .activites article {
        margin-left: 20px;
        margin-right: 20px;
    }
      

    .element-footer {
        flex-direction: column;
        margin-left: 30px;
    }

    .activites h2 {
        margin-left: 20px;
    }

    .filtre {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .filtre h2 {
        width: 100%;
        margin: 0 0 15px 0;
    }

    .filtre ul {
        justify-content: space-between;
        row-gap: 10px;
        width: 100%;
    }

    .filtre li {
        font-size: 11px;
        font-weight: bold;
        width: calc(50% - 50px);
    }

}
    