* {
    margin: 0px;
}

body {
    margin: 45px 45px 0px 45px;
    font-family: raleway, sans-serif;
}

header {
    margin-bottom: 70px;
}

header img {
    height: 20px;
}
/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 30px;
}

nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/**/

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Recherche */

.recherche {
    display: flex;
    border-style: inset;
    border-radius: 10px;
    margin-top: 20px;
    width: 21%;
    padding: 10px;
    align-items: center;
}

